@import "./palette.scss";

$font: "Public Sans Web", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$max-width: 1200px;
$content-max-width: 900px;

$sm-breakpoint: 35.5em;
$md-breakpoint: 48em;

$md-up: "(min-width: #{$md-breakpoint})" !default;
$sm-up: "(min-width: #{$sm-breakpoint})" !default;