/* Coolors Exported Palette - coolors.co/ffffff-1e1d26-2274a5-ff9f1c-a4243b */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(247%, 13%, 13%, 1);
$color3: hsla(202%, 66%, 39%, 1);
$color4: hsla(35%, 100%, 55%, 1);
$color5: hsla(349%, 64%, 39%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(30, 29, 38, 1);
$color3: rgba(34, 116, 165, 1);
$color4: rgba(255, 159, 28, 1);
$color5: rgba(164, 36, 59, 1);