@mixin at-font-face(
    $display-name,
    $file-path,
    $font-weight,
    $font-style,
) {
    $file_path: unquote($file-path);

    @font-face {
        font-family: unquote($display-name);
        font-style: unquote($font-style);
        font-weight: unquote($font-weight);
        font-display: fallback;
        src:
            url(#{$file-path}.woff2) format('woff2'),
            url(#{$file-path}.woff) format('woff'),
            url(#{$file-path}.ttf) format('truetype'),
    }
}

@mixin generate-font-face(
    $name,
    $dir,
    $style,
    $font-style-src
) {
    @each $font-weight, $filename in $font-style-src {
        @include at-font-face(
            $name,
            "#{$dir}/#{$filename}",
            #{$font-weight}, 
            unquote("#{$style}")
        );
    }
}

@mixin render-font-face($src) {
    $name: map-get($src, name);
    $dir: map-get($src, dir);

    @include generate-font-face(
        $name,
        $dir,
        italic,
        map-get($src, italic)
    );
    @include generate-font-face(
        $name,
        $dir,
        normal,
        map-get($src, normal)
    );
}

$public-sans-font: (
    name: "Public Sans Web",
    dir: "../fonts/public-sans",
    normal: (
        100: "PublicSans-Thin",              
        200: "PublicSans-ExtraLight",        
        300: "PublicSans-Light",             
        400: "PublicSans-Regular",           
        500: "PublicSans-Medium",            
        600: "PublicSans-SemiBold",          
        700: "PublicSans-Bold",              
        800: "PublicSans-ExtraBold",         
        900: "PublicSans-Black",             
    ),
    italic: (
        100: "PublicSans-ThinItalic",
        200: "PublicSans-ExtraLightItalic",
        300: "PublicSans-LightItalic",
        400: "PublicSans-Italic",
        500: "PublicSans-MediumItalic",
        600: "PublicSans-SemiBoldItalic",
        700: "PublicSans-BoldItalic",
        800: "PublicSans-ExtraBoldItalic",
        900: "PublicSans-BlackItalic",
    )
);

@include render-font-face($public-sans-font);

$fa-font-path: "../fonts/fa";
$fa-font-display: fallback;

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-display: $fa-font-display;
    src: url('#{$fa-font-path}/fa-brands-400.eot');
    src: url('#{$fa-font-path}/fa-brands-400.woff2') format('woff2'),
         url('#{$fa-font-path}/fa-brands-400.woff') format('woff')
    //     url('#{$fa-font-path}/fa-brands-400.ttf') format('truetype'),
    //     url('#{$fa-font-path}/fa-brands-400.svg#fontawesome') format('svg');
  }

  .fab {
      font-family: 'Font Awesome 5 Brands';
  }