@import "../styles/variables";

#donate {
    padding-top: 3em;

    > header {
        padding-bottom: 6em;
    }

    h2 {
        margin-bottom: 0;
        margin-left: -30px;
        display: inline-block;
        border-left: 8px solid $color4;
        padding: 4px 0px 4px 22px;
    } 

    .content {
        font-size: 13pt;
        min-height: 10em;
    }

    section {
        color: $color1;
        position: relative;
        z-index: 200;

        &::before {
            content: '';
            display: block;
            height: 225px;
            width: 120%;
            position: absolute;
            left: 50%;
            top: -100px;
            background-color: $color3;
            transform: translateX(-50%) rotate(-1deg);
            //-webkit-transform-origin: left top;
            //-ms-transform-origin: center top;
            transform-origin: center top;
            z-index: -150;
        }

        .inner {
            padding-bottom: 0em;
            background-color: $color3;
            border-collapse: collapse;
            border-bottom: 1px solid transparent; // HACK
        }

        .content {
            transform: translateY(calc(-100px + 3em));            
            
            p, ul {
                margin-bottom: 1.5em;
            }
        }
    }

}