@import "../styles/variables.scss";

.content {
    max-width: $content-max-width;
    margin: 0 auto;
    color: $color2;
}

.pitch {
    font-size: 25pt;
    font-weight: 200;
    max-width: 800px;
    margin: 1.5em auto;

    h1 {
        size: 2em;
        font-weight: 700;
        margin-bottom: 0.3em;
    }

    strong {
        font-weight: 300;
    }
}