
@import "../styles/variables";

.pitch {
    background-color: $color1;
    color: $color2;

    min-height: 65vh;
    display: flex;
    align-items: center;  
    margin-bottom: 5em;

    .content {
        padding-bottom: 1em;
        flex: 1;
    }

    h1 {
        margin-bottom: 0em;
        margin-left: -30px;
        display: inline-block;
        border-left: 8px solid $color4;
        padding: 4px 0px 4px 22px;
    } 

    h3 {
        margin-top: 0;
        max-width: 20em;
    }

    @media #{$md-up} {
        //margin-top: 1.5em;
        min-height: 65vh;
    }
}

#under-construction {
    background-color: $color5;
    color: $color1;
    position: relative;
    z-index: 200;
    padding: 0em 0 5em 0;
    
    &::before {
        content: '';
        display: block;
        height: 225px;
        width: 120%;
        position: absolute;
        left: 50%;
        top: -50px;
        background-color: $color5;
        transform: translateX(-50%) rotate(-3deg);
        transform-origin: center top;
        -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
        z-index: -150;
    }
}

#mission {
    z-index: 200;
    position: relative;
    padding: 0em 0 6em 0;
    background-color: $color1;

    &::before {
        content: '';
        display: block;
        height: 225px;
        width: 120%;
        position: absolute;
        top: -1.5em;
        left: 50%;
        background-color: $color1;
        transform: translateX(-50%) rotate(0.2deg);
        transform-origin: center top;
        -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
        z-index: -150;
    }
}

#pillars {
    background-color: $color3;
    color: $color1;
    z-index: 200;
    position: relative;
    padding: 0 0 5em 0;
    margin-top: 1em;

    &::before {
        content: '';
        display: block;
        height: 225px;
        width: 120%;
        position: absolute;
        top: -50px;
        left: 50%;
        background-color: $color3;
        transform: translateX(-50%) rotate(-2.5deg);
        transform-origin: center top;
        -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
        z-index: -150;
    }

    .pure-g [class *= "pure-u"] {
        box-sizing: border-box;
        @media #{$md-up} {
            padding-right: 2em;
        }
    }
    
    h4 {
        margin: 0.5em 0;
        margin-top: 1em;
    }

    p {
        color: darken($color1, 13);
    }
}

#target-audience {
    background-color: $color1;
    color: $color2;
    z-index: 200;
    position: relative;
    padding: 0em 0 7em 0;
    margin-top: 2em;

    &::before {
        content: '';
        display: block;
        height: 225px;
        width: 120%;
        position: absolute;
        top: -20px;
        left: 50%;
        background-color: $color1;
        transform: translateX(-50%) rotate(-0.2deg);
        transform-origin: center top;
        -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
        z-index: -150;
    }

    .pure-g [class *= "pure-u"] {
        box-sizing: border-box;
        @media #{$md-up} {
            padding-right: 2em;
        }
    }
    
    h4 {
        margin: 0.5em 0;
        margin-top: 1em;
    }

    p {
        color: darken($color2, 13);
    }
}

#syntax {
    background-color: $color5;
    color: $color1;
    position: relative;
    z-index: 200;
    padding: 0em 0 5em 0;
    margin-top: 1em;

    &::before {
        content: '';
        display: block;
        height: 225px;
        width: 120%;
        position: absolute;
        top: -50px;
        left: 50%;
        background-color: $color5;
        transform: translateX(-50%) rotate(-3deg);
        transform-origin: center top;
        -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
        z-index: -150;
    }
}

#support {
    z-index: 200;
    position: relative;
    padding: 0 0 1em 0;
    background-color: $color1;
    margin-top: 3em;

    &::before {
        content: '';
        display: block;
        height: 225px;
        width: 120%;
        position: absolute;
        top: -50px;
        left: 50%;
        background-color: $color1;
        transform: translateX(-50%) rotate(-0.2deg);
        -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        z-index: -150;
    }

    #sponsors > div {
        box-sizing: border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        text-align: center;
        margin: auto 0;
        padding: 40px;
    }
}

.warning-icon {
    height: 1em;
    transform: translateY(0.15em);
}