@import "./styles/pure-min.css";
@import "./styles/grids-responsive-min.css";
@import "./fonts/font.scss";
@import "./styles/variables.scss";

html {
  font-family: $font;
}

body {
  background-color: $color1;
}

a {
  color: $color4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content, .footerContent {
    max-width: $content-max-width;
    margin: 0 auto;
    color: $color2;
    padding: 0 10px;
}

.pitch {
    font-size: 25pt;
    font-weight: 200;
    max-width: 800px;
    margin: 1.5em auto;

    h1 {
        size: 2em;
        font-weight: 700;
        margin-bottom: 0.3em;
    }

    strong {
        font-weight: 300;
    }
}

header {
    background-color: $color1;
}

.navContent {
    max-width: $max-width;
    margin: 0 auto;
}

.pure-menu {
    &.pure-menu-horizontal {
        .pure-menu-heading {
            text-transform: none;
        }
        .pure-menu-link {
            color: $color2;
            font-size: 120%;

            &:focus {
                background-color: inherit;
                outline: none;
            }

            &:hover {
                color: $color4;
                background-color: darken($color1, 4);
            }
        }

        .pure-menu-list {
            float: right;
        }

        .pure-menu-link.icon {
            padding-left: 0.8em;
            padding-right: 0.8em;
        }
    }

    a:hover {
        text-decoration: none;
    }
}

footer {
    background-color: $color1;
}

.footerContent {
    color: lighten($color2, 50);
}
