@import "./styles/pure-min.css";
@import "./styles/grids-responsive-min.css";
@import "./fonts/font.scss";
@import "./styles/_variables.scss";
@import "./styles/_button.scss";

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
}

html {
    min-width: 300px;
    overflow-x: hidden;
}

body {
  background-color: $color2;
  color: $color2;
  overflow-x: hidden;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.content {
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 0 30px;
}

h1 {
    font-size: 40pt;
    font-weight: 700;
}

h2 {
    font-size: 25pt;
    font-weight: 800;
}

h3 {
    font-size: 20pt;
    font-weight: 200;
}

h5 {
    font-size: 13pt;
    font-weight: 400;
}

h6 {
    font-size: 13pt;
    font-weight: 600;
    margin: 1em 0;
}

@media #{$md-up} {
    h1 { font-size: 50pt; }

    h2 { font-size: 30pt; }

    h3 { font-size: 25pt; }
    
    h4 {
        font-size: 20pt;
        font-weight: 800;
    }

    h5 { font-size: 15pt; }
    h6 { font-size: 15pt; }
}

nav {
    background-color: $color1;
 //   margin-bottom: 1em;
    //height: 2.7em;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s;
    -moz-transition: box-shadow 0.4s;
    -ms-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
    z-index: 500;

    > div {
        max-width: 1200px;
        margin: 0 auto;

        &.open {
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);    

            @media (max-width: 47.999em) {

                .pure-menu {

                    &.menu-contents {
                        max-height: 1000px;
                        opacity: 1;
                    }
        
                    .pure-menu-list {      
                        display: block;
                        .pure-menu-heading {
                            width: 100%;
                        }
                    }

                }

            }
        }

        .pure-menu {
            .pure-menu-heading {
                text-transform: none;
            }

            .pure-menu-link, .pure-menu-heading {
                color: $color2;
                font-size: 120%;
            }

            .pure-menu-link {
                &:focus {
                    background-color: inherit;
                    outline: none;
                }

                &:hover {
                    color: $color4;
                    background-color: darken($color1, 4);
                }
            }

            .pure-menu-list {
                float: right;
            }

            @media (max-width: 47.999em) {

                .pure-menu-list {
                    float: none;
                }

                &.menu-contents {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.5s;
                    opacity: 0;

                    -webkit-transition: max-height 0.5s,opacity 0.5s;
                    -moz-transition: max-height 0.5s,opacity 0.5s;
                    -ms-transition: max-height 0.5s,opacity 0.5s;
                    transition: max-height 0.5s,opacity 0.5s;
                }

                .pure-menu-list {
                    width: 100%;
                }

                .pure-menu-item {
                    display: block;
                    text-align: left;
                }
            }

            .pure-menu-link.icon {
                padding-left: 0.8em;
                padding-right: 0.8em;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
}

.emptyContent {
    background-color: $color1;
    padding: 2em 0em 8em 0em;
}

main {
    background-color: $color1;
    border-top: 1px solid transparent; // HACK
}

#home section, #blog header, #blog article {
    h2 {
        margin-bottom: 0em;
        margin-left: -30px;
        display: inline-block;
        border-left: 8px solid $color4;
        padding: 4px 0px 4px 22px;
    } 
}

.gatsby-highlight {
    position: relative;

    > pre {
        border-radius: 3px;
        font-size: 11pt;
    }

    @import "./styles/_code.css";
}

.gatsby-highlight[data-language]::before {
    content: attr(data-language);
    color: black;
    background-color: #CFCFCF;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9em;
    border-radius: 0 0 0 5px;
    padding: 0 0.5em;
    text-shadow: none;
}

.bg-dark {
    color: $color1;
}